*{
	padding: 0px;
	margin: 0px;
}
.container{
	height: 99.5vh;
	padding-left: 200px;

	
}
.da{
	margin-top: 50px;
}

sup{
	color: red;
}

input{
	width: 100%;

}
#r1{
	margin-top: 40px;
}

#r2{
	margin-top: 40px;
}

#r3{
	margin-top: 40px;
}
button{
	width: 200px;
	letter-spacing: 2px;
}