*{
	margin: 0px;
	padding: 0px;
	list-style: none;

}

.sidebar{
	height: 107vh;
	width: 250px;
	position: absolute;
	z-index: 44;

	background: #333333;
	
	
}

h3{
	text-align: center;
	line-height: 60px;
	color: red;
	margin: 0px;
}
.wwww{
	margin: 0px;
	padding: 0px;
}

.wwww a{
	line-height: 60px;
	display: block;
	height: 100%;
	width: 100%;
	padding-left: 35px;
	border-top: 1px solid rgba(255,255,255,.1);
	border-bottom: 1px solid black;
}

.wwww a:hover{
	color: black;
}

.sidebar .wwww li:hover {
	padding-left: 20px;
	transition: .5s;

	background: rgb(137,245,102);
background: linear-gradient(90deg, rgba(137,245,102,1) 35%, rgba(81,228,255,1) 100%);
}
.wwww li a i{
	margin-right: 20px;
}

.bar{
	position: absolute;
	z-index: 50;
	height: 40px;
	width: 40px;
	transition: 1s;
	display: none;

}

.close{
	position: absolute;
	z-index: 50;
	height: 30px;
	width: 30px;
	margin-left: 220px;
	
	transition: 1s;
	

}

#bt{
	height: 100%;
	width: 100%;
	background:  #333333;
	border: none;
}

#bt i{
	font-size: 30px;
	color: #fff;
}

#cl{
	height: 100%;
	width: 100%;
	background: black;
	border: none;
}

#cl i{
	font-size: 30px;
	color: #fff;
}



