 #uu{
background: #ff7f6b;
padding: 8px;
border-radius: 20px;
}

#ab{
    margin-top: 40px;
    padding-bottom: 22px;

}


sup{
    
    color:red;
}

.form-control{
    border:1px solid #000;
    border-radius: 0px;
}

#sq{
    width: 200px;
    margin-top: 20px;
   
    
}

